<template>
  <div class="container text-center mt-12">
    <Counter
        :year='2022'
        :month='5'
        :date='4'
        :hour='6'
        :minute='30'
        :second='0'
        :millisecond='0'

    />
  </div>

</template>

<script>

import Counter from '@/components/Counter';

export default {
  components: {
    Counter
  }
};
</script>

<style scoped>
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
</style>