<template>
  <div v-if="loaded">
    <h4 v-if="!expired" class="text-3xl md:text-5xl pb-10">Schriftliche Abschlussprüfung in</h4>
    <h4 v-else class="text-3xl md:text-5xl pb-10">Viel Erfolg, bei deiner Abschlussprüfung</h4>

    <section class="flex text-4xl md:text-6xl justify-center content-center">
      <div class="days mr-2 relative">
        <div class="mb-4">
          {{ displayDays }}
        </div>
        <div class="label text-sm mt-2">
          days
        </div>
      </div>
      <span class="-mt-1 md:-mt-2 pr-2">:</span>
      <div class="hours mr-2 relative">
        {{ displayHours }}
        <div class="label text-sm absolute bottom-0">
          hours
        </div>
      </div>
      <span class="-mt-1 md:-mt-2 pr-2">:</span>
      <div class="minutes mr-2 relative">
        {{ displayMinutes }}
        <div class="label text-sm absolute bottom-0">
          minutes
        </div>
      </div>
      <span class="-mt-1 md:-mt-2 pr-2">:</span>
      <div class="seconds mr-2 relative">
        {{ displaySeconds }}
        <div class="label text-sm absolute bottom-0">
          seconds
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data: () => ({
    displayDays: 0,
    displayHours: 0,
    displayMinutes: 0,
    displaySeconds: 0,
    loaded: false,
    expired: false,
  }),
  name: "Counter",
  props: [
    'year',
    'month',
    'date',
    'hour',
    'minute',
    'second',
    'millisecond'
  ],
  mounted() {
    this.showRemaining();
  },
  computed: {
    _seconds: () => 1000,
    _minutes() {
      return this._seconds * 60
    },
    _hours() {
      return this._minutes * 60
    },
    _days() {
      return this._hours * 24
    },
    end() {
      return new Date(
          this.year,
          this.month,
          this.date,
          this.hour,
          this.minute,
          this.second,
          this.millisecond,
      )
    }
  },
  methods: {
    formatNum(num) {
      return num < 10 ? "0" + num : num;
    },
    showRemaining() {
      const timer = setInterval(() => {
        const now = new Date();
        const distance = this.end.getTime() - now.getTime();

        if (distance < 0) {
          clearInterval(timer);
          this.expired = true;
          this.loaded = true;
          return;
        }

        const days = Math.floor((distance / this._days));
        const hours = Math.floor((distance % this._days) / this._hours);
        const minutes = Math.floor((distance % this._hours) / this._minutes);
        const seconds = Math.floor((distance % this._minutes) / this._seconds);

        this.displayMinutes = this.formatNum(minutes);
        this.displaySeconds = this.formatNum(seconds);
        this.displayHours = this.formatNum(hours);
        this.displayDays = this.formatNum(days);

        this.loaded = true;
      })
    }
  }
}
</script>
